nav {
  position: fixed;
}

a.navbar-brand {
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px gray;
  top: 60px;
  right: 40px;
  color: white;
  padding: 6px 16px;
  margin-right: 120px;
}

a.navbar-brand:hover {
  text-shadow: 2px 2px white;
}

.navbar-toggler {
  cursor: grab;
  font-size: 1.2rem;
  color: black;
}

a.nav-link {
  color: black;
  font-size: 20px;
}

a.nav-link:hover {
  color: brown;
  font-weight: bold;
  text-decoration: overline;
}

#homepage {
  background: #F5EE90;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 260px;
}

img {
  border-radius: 640px;
  height: 420px;
  margin-top: 120px;
  margin-bottom: 22px;
}

figure {
  padding-top: 32px;
}

figure a:hover {
  font-size: 32px;
  font-weight: 500;
  color: rgb(165, 123, 233);
}



/*#colophon footer {
  margin: 20px;
  padding: 6px 6px 12px;
  position: fixed;
  bottom: 20px;
  right: 8px;
}*/

/*  top: 20px;
  right: 20px;
  padding: 6px 16px;
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
}*/

footer p a {
  color: #A34DB1;
  text-decoration: overline;
}

footer p a:hover {
  color: #D60082;
  text-decoration: none;
}
